<!DOCTYPE html>
<html>
<head>
<style>
div{
margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
height:300px;
}
h4 {
  margin: 70px;
  border: 1px solid #4CAF50;
}

</style>
<body>
<div>
<h4>This element has a margin of 70px.</h4>
</div>


</body>
</head
</html>