div{
margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
height:325px;
overflow:auto;
}
h1 {
  background-color: black;
  text-align: center;
  text-decoration: overline;
}
div {
  background-color: lightblue;
}
p {
  background-color: yellow;
  text-indent: 50px;
}
body {
  color:green;
}
p.ex1 {
  border: 1px solid black;
  outline-style: solid;
  outline-color: red;
}
p.uppercase {
  text-transform: uppercase;
}

p.lowercase {
  text-transform: lowercase;
}

p.capitalize {
  text-transform: capitalize;
}
h5{
  letter-spacing: 3px;
}

h6 {
  letter-spacing: -3px;
}
p.small {
  line-height: 0.7;
}

p.big {
  line-height: 1.8;
}
h1.shadow {
  text-shadow: 3px 2px red;
}
p.font1{
	font-family:"Times new roman";
	font-style: italic;
	font-size:20px;
	font-weight:bold;
	font-variant:small-caps;
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: red;
}
ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ol.c {
  list-style-type: upper-roman;
}

ol.d {
  list-style-type: lower-alpha;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f6;}
li {
  display: inline;
}
img {
  float: right;
}
.div1 {
  float: left;
  width: 100px;
  height: 50px;
  margin: 10px;
  border: 3px solid #73AD21;
}

.div2 {
  border: 1px solid red;
}

.div3 {
  float: left;
  width: 100px;
  height: 50px;
  margin: 10px;
  border: 3px solid #73AD21;
}

.div4 {
  border: 1px solid red;
  clear: left;
}